<header>
    <nav class="navbar">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1668983675/Dise%C3%B1o%20sin%20t%C3%ADtulo%20(17).png" alt="logos" width="170" height="35">
          </a>
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link redes" href="https://www.linkedin.com/in/wilson-miguel-rosa-ortiz-07136525b/" target="_blank"> Linkedin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link redes" href="https://wa.me/+542964665866" target="_blank">WhatsApp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link redes" href="https://instagram.com/wilsonmg03" target="_blank">Instagram</a>
            </li>
          </ul>
          <ul class="nav justify-content-end">
            <li class="nav-item" *ngIf="isLogged">
              <button type="button" class="btn btn-danger" (click)="logout()" >Cerrar sesión</button>
            </li>
            <li class="nav-item" *ngIf="!isLogged">
              <button type="button" class="btn btn-success" routerLink="/login">Iniciar Sesión</button>
            </li>
          </ul>
        </div>
      </nav>
</header>