<div class="container" *ngIf="isLogged">
    <div class="row mt-5">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre"
                    [(ngModel)]="person.nombre" required>
                </div>
                <div class="form-group">
                    <label for="ocupacion">Ocupación</label>
                    <input type="text" class="form-control" id="ocupacion" name="ocupacion"
                    [(ngModel)]="person.ocupacion" required>
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <!-- <input type="text" class="form-control descripcion" id="descripcion" name="descripcion"
                    [(ngModel)]="person.descripcion" required> -->
                    <textarea name="descripcion" id="descripcion" rows="5" [(ngModel)]="person.descripcion" required></textarea>
                </div>
                <div class="form-group">
                    <label for="urlimagen">URL de la imagen</label>
                    <input type="text" class="form-control" id="urlimagen" name="urlimagen"
                    [(ngModel)]="person.urlimagen" required>
                </div>
                <button type="button" class="btn btn-outline-danger" (click)="closeediting.emit(false)" >Cancelar</button>
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Actualizar</button>

            </form>
        </div>
    </div>
</div>