<div class="titulo">
    <h1 id="experiencias">EXPERIENCIAS</h1>
</div>

<button type="button" class="btn btn-danger" routerLink="/agregar-exp" *ngIf="isLogged">Añadir Experiencia</button>

<div class="tarjetas">
<div class="card text-bg-secondary mb-3" style="max-width: 18rem;" *ngFor="let experiencia of experiencias">
  <div>
    <app-editar-exp [experience]="experiencia" (closeediting)="isediting = false" *ngIf="isediting"></app-editar-exp>
  <div class="card-header" *ngIf="!isediting">
    <i class="fa-solid fa-pen-to-square" (click)="isediting = true" *ngIf="isLogged"></i>
    <i class="fa-solid fa-trash" (click)="borrar(experiencia.id)" *ngIf="isLogged"></i>
    <div class="card-body">
      <h5 class="card-title">{{experiencia.titulo}}</h5>
      <p class="card-text">{{experiencia.descripcion}}</p>
    </div>
  </div>
</div>
</div>
</div>